<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Double Click
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Double Click</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card #rectangle>
    <ion-card-header>
      <ion-card-title>Double Click Me</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nunc maximus ante at egestas imperdiet. Phasellus ac dui suscipit, cursus orci pellentesque, ultricies augue. Nam nisi dolor, dictum nec ultrices a, condimentum id ex. Curabitur mattis suscipit lacus, nec eleifend nibh iaculis pulvinar. Suspendisse potenti. Aenean non arcu est. Quisque sollicitudin purus dui, vitae aliquam nisl porta in.
    </ion-card-content>
  </ion-card>


</ion-content>
